<div class="flex h-screen items-center justify-center">
  <div class="flex flex-col items-center">
    <.redirect_button href={~p"/auth/facebook"}>Login with Facebook</.redirect_button>
    <.redirect_button href={~p"/auth/google"}>Login with Google</.redirect_button>
  </div>
</div>
